<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pokédex
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="listPokemones; else loading">
    <ng-container *ngFor="let item of listPokemones; index as i">
      <ion-card (click)="handleDetail(item.url)">
        <ion-card-header>
          <ion-card-title> {{ item.name | titlecase }} </ion-card-title>
        </ion-card-header>
      </ion-card>

      <ion-card *ngIf="selectedPokemon?.url === item.url">
        <ion-card-header>
          <ion-card-title> {{ selectedPokemon.name | titlecase }} </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <img [src]="selectedPokemon.sprites?.front_default" alt="{{selectedPokemon.name}}">
          <p><strong>Altura:</strong> {{ selectedPokemon.height / 10 }} m</p>
          <p><strong>Peso:</strong> {{ selectedPokemon.weight / 10 }} kg</p>
          <p><strong>Tipos:</strong>
            <span *ngFor="let type of selectedPokemon.types">
              {{ type.type.name | titlecase }} 
            </span>
          </p>
        </ion-card-content>
      </ion-card>
    </ng-container>
  </ng-container>

  <ng-template #loading>
    <ion-spinner name="crescent"></ion-spinner>
  </ng-template>

</ion-content>
